

    <form method="POST" action="/auth/login" style="max-width: 540px; margin: auto;">
        <h2 class="text-center">Login</h2>
        <!-- Username input -->
        <div class="form-outline mb-4 mt-4">
            <label class="form-label" for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required placeholder="insert username..."/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required placeholder="insert password..."/>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4 text-center">
            <div class="col">
            <!-- Simple link -->
            <a href="/auth/reset-password">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="register">Register</a></p>
        </div>
    </form>