
    <form method="POST" action="/auth/register"  style="max-width: 540px; margin: auto;">
        <h2 class="text-center">Đăng kí tài khoản</h2>
        <!-- Username input -->
        <div class="form-outline mb-4 mt-4">
            <label class="form-label" for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required placeholder="nhập tên của bạn..."/>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-4 mt-4">
            <label class="form-label" for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required placeholder="nhập username..."/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required placeholder="nhập mật khẩu..."/>
        </div>

        <!-- Password confirm input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password_confirm">Password confirm:</label>
            <input type="password" id="password_confirm" name="password_confirm" class="form-control" required placeholder="xác nhận mật khẩu..."/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Đăng kí</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Đã có tài khoản? <a href="login">Đăng nhập</a></p>
        </div>
    </form>