
    <form method="POST" action="/auth/reset-password?_method=PUT"  style="max-width: 540px; margin: auto;">
        <h2 class="text-center">Reset Password</h2>

        <!-- username input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required placeholder="insert username..."/>
        </div>


        <!-- name input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required placeholder="insert name..."/>
        </div>

        <!-- new Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required placeholder="insert new password..."/>
        </div>

        <!-- new Password confirm input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password_confirm">New Password confirm:</label>
            <input type="password" id="password_confirm" name="password_confirm" class="form-control" required placeholder="insert new password confirm..."/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="register">Register</a></p>
        </div>
    </form>