
    <form method="POST" action="/auth/reset-password?_method=PUT"  style="max-width: 540px; margin: auto;">
        <h2 class="text-center">Khôi phục mật khẩu</h2>

        <!-- username input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required placeholder="nhập username để tìm tài khoản..."/>
        </div>


        <!-- name input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required placeholder="nhập name để tìm tài khoản..."/>
        </div>

        <!-- new Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required placeholder="nhập mật khẩu mới..."/>
        </div>

        <!-- new Password confirm input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password_confirm">New Password confirm:</label>
            <input type="password" id="password_confirm" name="password_confirm" class="form-control" required placeholder="xác nhận mật khẩu mới..."/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Đặt lại</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Chưa có tài khoản? <a href="register">Đăng kí</a></p>
        </div>
    </form>