<div>
    <div class="row">
        <div class="col-lg-3">
            <button>Học ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <img src="{{course.image}}" style="width: 40%; margin: 20px auto;" class=" container img-fluid rounded-start" alt="{{this.name}}">
            <p>{{course.description}}</p>
        </div>
    </div>
</div>