

<div>
    <h3>Thêm sản phẩm</h3>
    <form method="POST" action="/products/store" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name" class="form-label">Tên sản phẩm:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="price" class="form-label">Giá sản phẩm:</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Mô tả sản phẩm:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="images" class="form-label">Hình ảnh sản phẩm:</label>
            <div id="imageContainer">
                <!-- Thẻ div này sẽ chứa các thẻ img -->
            </div>
            <input onchange="displaySelectedImages()" type="file" class="form-control" id="images" name="images" accept="image/*" multiple required>
        </div>
        
        <button type="submit" class="btn btn-primary demo-class">Thêm sản phẩm</button>
    </form>
</div>


<script>
        function displaySelectedImages() {
            var input = document.getElementById('images');
            var imageContainer = document.getElementById('imageContainer');
            // Xóa các thẻ img cũ
            imageContainer.innerHTML = '';
            // Kiểm tra xem đã chọn ít nhất một file chưa
            if (input.files.length > 0) {
                displayImage(0); // Bắt đầu từ tệp đầu tiên
            }
        }
        function displayImage(index) {
            var input = document.getElementById('images');
            var imageContainer = document.getElementById('imageContainer');
            if (index < input.files.length) {
                var reader = new FileReader();
                var imgElement = document.createElement('img');
                // Object assignment for styles
                Object.assign(imgElement.style, {
                    width: '30px',
                    height: '30px',
                    margin: '2px 5px',
                    borderRadius: '3px',
                    objectFit: 'cover',
                });
                imgElement.alt = 'Image ' + (index + 1);
            reader.onload = function(e) {
                imgElement.src = e.target.result;
                // Thêm thẻ img vào container
                imageContainer.appendChild(imgElement);
                // Hiển thị ảnh tiếp theo
                displayImage(index + 1);
            };
            reader.readAsDataURL(input.files[index]);
            }
        }
    </script>